<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>v-jsoneditor</title>
</head>

<body>
  <script src='https://unpkg.com/vue@2.5.11'></script>
  <script src="../v-jsoneditor.min.js"></script>
  <div id="app">
    <template>
        <v-jsoneditor ref="editor" v-model="json" :options="options" @error="onError"></v-jsoneditor>
        <p>{{ json }}</p>
        <button type="button" @click="onValidate()">onValidate</button>
        <button type="button" @click="onClick">console.log editor.get()</button>
        <input v-model="json.hello" type="text">
        <p>switch mode</p>
        <input type="radio" id="tree" name="gender" value="tree" v-model="options.mode">
        <label for="tree">tree</label><br>
        <input type="radio" id="code" name="gender" value="code" v-model="options.mode">
        <label for="code">code</label><br>
    </template>
  </div>
  <script>
    var Main = {
      name: 'test',
      data() {
        return {
          json: {"hello": "vue"},
          options: {
            onChange: (e) => {
              console.log(e)
            },
            onValidate: function (json) {
              console.log('onValidate', json)
              var errors = [];

              if (json && json.customer && !json.customer.address) {
                errors.push({
                  path: ['customer'],
                  message: 'Required property "address" missing.'
                });
              }

              return errors;
            },
            mode: 'code'
          }
        }
      },
      methods: {
        onError(err){
          console.log(err)
        },
        onClick () {
          console.log(this.$refs.editor.editor.get())
        },
        onValidate () {
          console.log(this.$refs.editor.editor.validate())
        }
      },
    };
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
  </script>
</body>

</html>
